[run]
branch = True
cover_pylib = False

# include polls app files
include =
    polls/*.py

# exclude migrations and tests
omit =
    # Python library files
    /usr/lib/*
    /usr/local/*
    */.local/*
    */env/*

    # Package __init__.py files
    */__init__.py

    # Django migration files
    */migrations/*

    # Django project configuration files (e.g., "mysite" is your config directory)
    mysite/*

    # manage.py file
    */manage.py

[report]
# ignore __str__ and __repr__ methods
exclude_lines =
    def __str__
    def __repr__
