[run]  # Measure branch coverage
branch = True

cover_pylib = False
# to include files from site-packages in coverage report

# to include only test file in coverage report
include =
    polls/tests/*


# to exclude some files from coverage report
omit =
    __init__.py
    /usr/*
    mysite/*
    polls/migrations/*
    tests/*.py
    env/*
    polls/admin.py
    polls/apps.py
    .local/*
    manage.py

[report]  # to exclude some lines from coverage report
exclude_lines =
    def __str__
    def __repr__