<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Ku-Polls</title>
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>

<body>
<!-- Display Django messages if any -->
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li
    {% if message.tags %} class="{{ message.tags }}"{% endif %}>
    {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if latest_question_list %}
<div class="question-container">
    {% for question in latest_question_list %}
    <div class="question-row">
        <div class="question-card">
            <a href="{% url 'polls:detail' question.id %}"
               class="question-link">{{ question.question_text }}</a>
            <!-- Display the poll status -->
            <p>
                {% if question.can_vote %}
                    Poll Status: Available
                {% else %}
                    Poll Status: Closed
                {% endif %}
            </p>
        </div>
        <div class="result-card">
            <a href="{% url 'polls:results' question.id %}"
               class="result-link">Results</a>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No polls are available.</p>
{% endif %}
</body>
</html>
