/* Styling the appearance of the HTML elements on a webpage. */

.question-link, .result-link {
    color: #5C4033;
    text-decoration: none;
}

.question-link:hover, .result-link:hover {
    text-decoration: underline;
}

body {
    background: white url("images/background.png") no-repeat;
}

/*remove bullet points*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.question-row {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

/* card styling for each question */
.question-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-right: 16px;
    flex: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    white-space: nowrap; /* Prevents text from wrapping */
}

.question-container {
    padding: 16px;
}

/* Style for the messages */
.messages {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.messages li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.messages li.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.messages li.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
